.classes .header h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
}
.classes h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}
.classes h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
.classes h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
.classes .list .class {
    float: left;
    display: block;
    box-sizing: border-box;
    padding: 10px 20px;
    width: 50%;
    height: 75%;
    text-align: center;
    border-bottom: 1px solid blue;
    margin-bottom: 10px;
}
.class.first {
    border-right: 1px dotted blue;
}
.class .second {
    border-left: 1px dotted blue;
}
.classes .list .show {
    text-align: center;
    margin-left: 3%;
    float: left;
    border: 2px solid lime;
    width: 45%;
}